<li>
	{{burger_name}}

	<button class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR IT ALL!{{else}}I WANT ANOTHER!{{/if}}
	</button>

	<button class="delete-burger btn btn-primary" data-id="{{id}}">
		CHANGED MY MIND!
	</button>
</li>